extends layout

block content
  div  
      h1= title
      p Welcome to #{title}
      img(src='images/bevstival/lads_beers.jpg', style='width:600px; height:400px;')
      p
      video(controls id='myvideo' src='images/bevstival/party_time.mp4', style='width:400px; height:400px;')
      p
      video(controls id='myvideo' src='images/bevstival/20191228_222428.mp4', style='width:400px; height:400px;')
      p
      img(src='images/bevstival/james_toilet_roll.jpg', style='width:400px; height:400px;')
      p
      
